.NewsContainer {
    width: 100%;
    margin: 5px 0 5px 0;
}

.TakeQuizButton {
    border: transparent;
    font-size: 25px;
    color: white;
    background-color: #d98310;
    width: 80%;
    padding: 5px 10px 5px 10px;
    margin: 20px 9% 20px 9%;
}

.ActivityContainer {
    text-align: center;
    background-color: #328cc1;
    padding: 5px;
    width: 300px;
    float: left;
    margin: 0 20px 0 0;
}

.ActivityName {
    font-size: 25px;
}